body{
    color: white;
    background: rgb(93, 90, 90);
}
h1{
    text-align: center;
}
a{
    color: yellow;

}
a:hover{
    background-color: rgb(23, 74, 118);
    color: white;
}
header{
    background-color: white;
}
footer{
    text-align: center;
    background: rgb(44, 44, 45);
}