<!DOCTYPE html>

<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechTonic</title>
</head>
<body>
    <h1>Ola Sejam Bem Vindos </h1>
    <h2>a Mais uma</h2>
    <h3>sensacional aula de python</h3>
    <h4>Com Os alunos mais dedicados de sabado</h4>
    <h5>E com o melhor professor que ja existiu</h5>
    <h6>depois que Eistein pisou na terra</h6>
</body>
</html>