body{
    background-image: url('sftw.jpg');
    background-color: #cccccc;
    color: aliceblue;
}

header{
    background-color: #03062d;
}

footer{
    background-color: #060a33;
    text-align: center;
}

h1{
    text-align: center;
}

#logo img{
    width: 100px;
    border-radius: 10px;
    
    
}

a{
    color: white;
    text-decoration:  none;
    font-size: 30px;
}
a:hover{
    color: rgb(18, 115, 11);
    
}

ul{
    list-style: none;
}
li{
    text-align: right;
    height: 100px;

}

